<main class="main">
  <div class="inner">

  <%= form_tag(prototypes_path, method: :get, class: "search-form") do %>
  <%= select_tag :gender_id, options_for_select(Gender.all.map { |gender| [gender.name, gender.id] }, params[:gender_id]), prompt: '性別で検索' %>
  <%= select_tag :age_id, options_for_select(Age.all.map { |age| [age.name, age.id] }, params[:age_id]), prompt: '年齢で検索' %>
  <%= submit_tag "検索", class: "btn" %>
  <% end %>

    <% if user_signed_in? && current_user.present? %>
      <div class="greeting">
        <%= link_to "こんにちは、#{current_user.nickname}さん", user_path(current_user)%>
      </div>
    <% end %>

    <div class="card__wrapper">
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
</main>
